*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}
.container{
    height: 100px;
    width: 100%;
    background: #24303c;
}
.container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: #ffffff;
    font-size: 28px;
}
.container span{
    color: #1f53c5;
}
.container nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px 10px 40px;
}
.container nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.container nav ul li a:hover{
    color: #1f53c5;
    transition: .3s;
}
.button-menu {
    font-size: 16px;
    background: #24303c;
    border: 0;
    color: #ffffff;
    padding: 15px;
}
.button-menu:hover{
    color: #1f53c5;
}
.button-login{
    padding: 16px;
    border-radius: 40px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    background-color: #1f53c5;
    color: #f1f1f1;
}
.button-login:hover{
    transform: scale(1.3);
    cursor: pointer;
}


.Form-libros{
   width: 500px;
   background: #ffffff;
   padding: 30px;
   margin: auto;
   margin-top: 20px;
   border-radius: 10px;
   font-family: 'calibri';
   color: #24303c;
   font-size: 18px;
}

.Form-libros h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}
.Form-libros .ipt-nombre {
    width: 95%;
    background: #b7e9ff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color:#24303c;
}
.Form-libros label{
    padding-top: 20px ;
}
.Form-libros p{
    margin: auto;
    padding: 30px 50px 0px 50px;
    font-size: 18px;
    text-align: center;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    min-height: 15vh;
}
.boton button{
    position: relative;
    background: #b7e9ff;
    color: #24303c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    border: 0;
    overflow: hidden;
    
}
.boton button:hover{
    color: #12531e;
    
}
.boton button span{
    position: absolute;
    background: #1f53c5;
    transition: 0.5s;
}
.boton button span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}
.boton button span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}
.boton button span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}
.boton button span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}
.boton button:hover span:nth-child(1){
    left: 0;
}
.boton button:hover span:nth-child(2){
    right: 0;
}
.boton button:hover span:nth-child(3){
    bottom: 0;
}
.boton button:hover span:nth-child(4){
    top: 0;
}
.table-container{
    padding: 0 10%;
    margin: 40px auto 0;
}
.table-container span{
    background-color: #24303c;
    width: 100%;
    height: 2px;


}

.heading{
    font-size: 40px;
    text-align: center;
    color: #f1f1f1;
    margin-bottom: 40px;
}
.table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 60px;
    border-radius: 10px;
}
.table thead{
    background-color: #24303c;
}
.table thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #ffffff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid 14px;
}
.table tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #1f53c5;
    padding: 8px;
    text-align: center;
    border: 1px solid #24303c;
    background-color: #b7e9ff;
}
.button-guardar{
    padding: 10px;
    border-radius: 40px;
    border: 0;
    font-size: 22px;
    font-weight: bold;
    background-color: #b7e9ff;
    color: #396d16;
}
.button-guardar:hover{
    color: #1f53c5;
}
.button-cancelar{
    padding: 10px;
    border-radius: 40px;
    border: 0;
    font-size: 22px;
    font-weight: bold;
    background-color: #b7e9ff;
    color: #d63d3d;
}
.button-cancelar:hover{
    color: #1f53c5;
}
.button-editar{
    padding: 5px;
    border-radius: 40px;
    border: 0;
    font-size: 22px;
    font-weight: bold;
    background-color: #b7e9ff;
    color: #159637;
    cursor: pointer;
}
.button-editar:hover{
    color: #1f53c5;
}
.button-eliminar{
    padding: 5px;
    border-radius: 40px;
    border: 0;
    font-size: 22px;
    font-weight: bold;
    background-color: #b7e9ff;
    color: #ed2121;
    cursor: pointer;
}
.button-eliminar:hover{
    color: #1f53c5;
}